<div class="menu-item"
      [ngClass]="{'vertical-menu': ms.isVertical, 'router-link-active': isActiveRoute}"
      >
  <span class="glyphicon {{item.icon}}"></span>
  <span>{{item.text.toUpperCase()}}</span>
  <span *ngIf="item.submenu && !parentIsPopup && !ms.isVertical" 
        class="glyphicon glyphicon-menu-down"></span>
  <span *ngIf="item.submenu && parentIsPopup && !ms.isVertical" 
        class="glyphicon glyphicon-menu-right"></span>
  <span *ngIf="item.submenu && ms.isVertical && !(mouseInPopup || mouseInItem)" 
        class="glyphicon glyphicon-menu-left"></span> 
  <span *ngIf="item.submenu && ms.isVertical && (mouseInPopup || mouseInItem)" 
        class="glyphicon glyphicon-menu-down"></span>   
</div>
<fw-popup-menu
    *ngIf="mouseInPopup || mouseInItem" 
    [menu]="item.submenu"
    [ngClass]="{'vertical-menu': ms.isVertical}"
    (mouseleave)="onPopupMouseLeave($event)" 
    (mouseenter)="onPopupMouseEnter($event)"
    [style.left.px]="popupLeft"
    [style.top.px]="popupTop" 
    @visibilityChanged>  
</fw-popup-menu>
